<ion-content [fullscreen]="true">
  <div id="container">
    <div class="img">
      <ion-img src = "assets/logo.png"></ion-img>
    </div>
    <div *ngIf="isLogin">
      <form [formGroup]="form">
        <ion-list>
          <ion-item>
            <ion-label fixed>E-mail</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
            <div *ngIf="submitted && f.email.errors">
              <ion-text color="danger" *ngIf="f.email.errors.required">
                * Informe o email
              </ion-text>
            </div>
          </ion-item>
          <ion-item>
            <ion-label fixed>Senha</ion-label>
            <ion-input type="password" formControlName="secret"></ion-input>
            <div *ngIf="submitted && f.secret.errors">
              <ion-text color="danger" *ngIf="f.secret.errors.required">
                * Informe a senha
              </ion-text>
            </div>
          </ion-item>
        </ion-list>
        <ion-button expand="block" fill="outline" (click)="onLogin()">Acessar</ion-button>
        <ion-button expand="block" fill="outline" (click)="register()">Não tem uma conta? Registre-se</ion-button>
      </form>
    </div>

    <div *ngIf="isRegister">
      <form [formGroup]="formRegister">
        <ion-list>
          <ion-item>
            <ion-label fixed>Nome do usuário</ion-label>
            <ion-input type="text" formControlName="userName"></ion-input>
            <div *ngIf="submittedRegister && fr.userName.errors">
              <ion-text color="danger" *ngIf="fr.userName.errors.required">
                * Informe o nome do usuário
              </ion-text>
            </div>
          </ion-item>
          <ion-item>
            <ion-label fixed>E-mail</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
            <div *ngIf="submittedRegister && fr.email.errors">
              <ion-text color="danger" *ngIf="fr.email.errors.required">
                * Informe o email
              </ion-text>
            </div>
          </ion-item>
          <ion-item>
            <ion-label fixed>Senha</ion-label>
            <ion-input type="password" formControlName="secret"></ion-input>
            <div *ngIf="submittedRegister && fr.secret.errors">
              <ion-text color="danger" *ngIf="fr.secret.errors.required">
                * Informe a senha
              </ion-text>
            </div>
          </ion-item>
        </ion-list>
        <ion-button expand="block" fill="outline" (click)="onRegister()">
          Registrar
        </ion-button>
        <ion-button expand="block" fill="outline" (click)="backLogin()">Voltar</ion-button>
      </form>
    </div>

    
  </div>

</ion-content>