<section class="container">
    <div class="py-5">
        <div class="row">
            <div class="col">
                <label class="text-justify">
                    A Produze Sistemas foi criada no ano de 2010 com o objetivo de ser uma empresa moderna e inovadora
                    tendo
                    como modelo de negócio desenvolver soluções para o ambiente Web e aplicativos para Android e IOS.
                    Sempre
                    buscando atingir o mais alto padrão de qualidade em nossas soluções e tendo como objetivo maior a
                    satisfação dos nossos clientes.
                </label>
                <label class="text-justify">
                    Focada em organizar processos e rotinas internas da Empresa, a Produze disponibiliza além de
                    aplicativos, sistemas web que podem ser acessado de qualquer dispositivo conectado à internet. Desta
                    forma, facilitamos
                    a vida do gestor oferecendo acesso ilimitado ao sistema e permitindo efetuar a gestão sem precisar
                    estar
                    presente na Empresa. Entendemos do seu negócio!
                </label>
                <label class="text-justify">
                    O nosso diferencial o Cliente percebe no ato da contratação, utilizamos metodologias ágeis que nos
                    possibilita uma entrega rápida e eficiente. Conquiste uma parceria que ajudará a sua empresa a se
                    tornar
                    mais rápida e competitiva. Não perca tempo! Entre em contato conosco para que possamos ajudar a sua
                    empresa a crescer no mercado.
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>
                    Fale conosco sem compromisso
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>
                    (71) 994100367 / (71) 994103640
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>
                    produzesistemas@gmail.com
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>
                    Rua Imperatriz, nº 80, Bonfim, Sala 201, CEP: 40415-180, Salvador - Bahia
                </h6>
            </div>
        </div>
    </div>
</section>