<div class="text-center">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/bg1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/bg3.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>

<section class="container">
  <div class="py-5">
    <h2>VendasNow</h2>
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dOTafo8rP10" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h5>
      Registre suas vendas de forma simples e prática com uma ferramenta dinâmica na palma da sua mão e acompanhe a evolução das suas vendas através de gráficos de desempenho.
    </h5>
    <h5>
      * Perfeito para o mercado informal.
    </h5>
    <h5>
      * Profissionais autônomos.
    </h5>
    <h5>
      * Prestadores de Serviços.
    </h5>
    <h5>
      * Vendedores autônomos de cosméticos.
    </h5>
    <h5>
      * Vendedores autônomos de roupas e acessórios.
    </h5>
    <div class="text-center py-3">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/Tela1.png" class="img-responsive" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Tela2.png" class="img-responsive" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Tela3.png" class="img-responsive" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Tela4.png" class="img-responsive" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Tela5.png" class="img-responsive" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Tela6.png" class="img-responsive" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Tela7.png" class="img-responsive" alt="...">
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <h1>
        Baixe agora
      </h1>
    </div>
    <div class="text-center">
      <a
        href="https://play.google.com/store/apps/details?id=br.com.cheio.bolso.vendas.controle.controledevendasbolsocheio">
        <img src="../../../assets/logo_arredondado.png" class="img-responsive" />
      </a>
    </div>
    <div class="text-center">
      <a
        href="https://play.google.com/store/apps/details?id=br.com.cheio.bolso.vendas.controle.controledevendasbolsocheio">
        <img src="../../../assets/play_google.png" class="img-responsive"/>
      </a>
    </div>
  </div>
</section>

<section class="container-fluid bg-secondary text-center">
  <!-- <div class="row justify-content-center"> -->
    <!-- <div class="col-auto"> -->
      <h3 class="text-white py-3">Desenvolvemos lojas virtuais para qualquer área de negócio</h3>
      <div id="myCarouselSurf" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarouselSurf" data-slide-to="0" class="active"></li>
          <li data-target="#myCarouselSurf" data-slide-to="1"></li>
          <li data-target="#myCarouselSurf" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner text-center">
          <div class="carousel-item active">
            <img src="../../../assets/daju_slide_1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/daju_slide_2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/alianca_slide_1.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <div class="py-3">
        <!-- <div class="col"> -->
          <h6 class="text-white">
            * Tenha sua própria loja virtual por um preço acessível .
          </h6>
          <h6 class="text-white">
            * Aumente o seu faturamento e sua visibilidade na internet.
          </h6>
          <h6 class="text-white">
            * Conheça uma nova forma de levar seus produtos aos seus clientes.
          </h6>
        <!-- </div> -->
      </div>
    <!-- </div> -->

  <!-- </div> -->
</section>

<!--<section class="container-fluid text-center">
  <h2 class="py-3">Clientes</h2>
  <div class="row justify-content-center">

    <a href="https://surfalianca.com.br/" target="_blank" class="py-2 px-2 ml-2 mr-2">
      <img src="../../../assets/g152.png" width="200" class="img-thumbnail bg-secondary" />
    </a>
    <a href="http://www.reconcavo.org.br/" target="_blank" class="py-2 px-2 ml-2 mr-2">
    <img src="../../../assets/logo.png" width="200" class="img-thumbnail" />
  </a>
  </div>
</section>-->

<footer class="bd-footer text-muted bg-primary">
  <div class="container-fluid p-3 p-md-5">
    <div class="h4 text-center text-white">
      <h6>Contato</h6>
      <h6>
        (71) 994100367 / (71) 994103640
      </h6>
      <h6>produzesistemas@gmail.com</h6>
      <h6>Rua Imperatriz, nº 80, Bonfim, Sala 201, CEP: 40415-180, Salvador - Bahia</h6>

    </div>
    <div class="form-inline">
      <a href="https://www.facebook.com/ProduzeSistemas/" class="nav-link text-white">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCDyvplj-E_VzZD8T_htWL4w" class="nav-link text-white">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>
