<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->



  <div id="container">
    <div class="img">
      <ion-img src="assets/logo.png"></ion-img>
    </div>
    <form [formGroup]="form">
      <ion-list>
        <ion-item>
          <ion-label fixed>E-mail</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.email.errors">
          <ion-text color="danger" *ngIf="f.email.errors.required">
            <h6>* Informe o email</h6>
        </ion-text>
        </div>
        <ion-item>
          <ion-label fixed>Senha</ion-label>
          <ion-input type="password" formControlName="secret"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.secret.errors">
          <ion-text color="danger" *ngIf="f.secret.errors.required">
            <h6>* Informe a senha</h6>
        </ion-text>
        </div>
      </ion-list>
    </form>
    <ion-button expand="block" fill="outline" (click)="onLogin()">Acessar</ion-button>
  </div>

</ion-content>