
<div class="container">

    <div class="col-lg-12">
<img class="img img-thumbnail img-responsive" src="../../../assets/icone_loja_250.png">
        <h2 class="text-justify">
            Política de privacidade
        </h2>
        <h3 class="text-justify">
            1. Obtenção e Uso de Informações Pessoais
        </h3>
        <h3 class="text-justify">
            1.1 Informações pessoais são dados que podem ser usados para identificar individualmente ou entrar em contato com uma pessoa em específico.
        </h3>
        <h3 class="text-justify">
            1.2 O Usuário poderá ser solicitado a fornecer suas informações pessoais a qualquer momento, enquanto estiver em contato com o VendasNow ou com uma empresa parceira do VendasNow. O VendasNow e seus parceiros poderão compartilhar essas informações pessoais e utilizá-las de acordo com esta Política de Privacidade.
        </h3>
        <h3 class="text-justify">
            1.3 O Usuário que se cadastrar nos serviços do VendasNow deverá fornecer dados pessoais verdadeiros, precisos, atuais e completos, bem como manter atualizadas essas informações.
        </h3>
        <h3 class="text-justify">
            1.3.1. Ao se cadastrar, o usuário aceita os termos desta Política de Privacidade e as condições de uso do aplicativo, bem como concorda em fornecer seus dados pessoais.
        </h3>
        <h3 class="text-justify">
            1.3.2. O Usuário que utilizar dados falsos ou de terceiros poderá incorrer nos crimes de falsidade ideológica, estelionato ou outros delitos mais graves, podendo responder civil ou criminalmente por tal conduta, nos termos da lei.
        </h3>
        <h3 class="text-justify">
            1.3.4. O Usuário poderá, a qualquer momento, solicitar alteração, retificação e/ou exclusão de seus dados, bastando, para tanto enviar solicitação via e-mail para o endereço produzesistemas@gmail.com.
        </h3>

        <h3 class="text-justify">
            2. Quais informações pessoais obtemos.
        </h3>
        <h3 class="text-justify">
            2.1 Quando você se inscrever, através do nosso Serviço, para ser um usuário registrado do VendasNow, poderemos obter uma série de informações, entre elas, seu nome, endereço eletrônico, endereço de correspondência, número de celular, preferências de contato e informações de cartão de crédito.
        </h3>
        <h3 class="text-justify">
            3. Como usamos suas informações pessoais.
        </h3>
        <h3 class="text-justify">
            3.1 As informações pessoais que obtemos (em alguns casos, em conjunto com informações não-pessoais) nos permitem fornecer o Serviço a você. Por exemplo:
        </h3>
        <h3 class="text-justify">
            3.1.1 Registro de Usuário. Nós criamos sua Conta de Usuário para seu uso do Serviço, baseado nas informações pessoais por você fornecidas.
        </h3>
        <h3 class="text-justify">
            3.1.2 Comunicação. Nós usamos suas informações pessoais para enviar newsletters, bem como outros materiais promocionais e de marketing. Se você não quiser mais fazer parte da nossa lista de mala direta, poderá optar por isso a qualquer momento enviando um email para produzesistemas@gmail.com.
        </h3>
        <h3 class="text-justify">
            3.1.3 Promoções. Se você participar de um concurso, competição ou algum tipo de promoção, poderemos usar as informações que você fornecer para administrar esses programas.
        </h3>
        <h3 class="text-justify">
            4. Sobre avaliações de parceiros e contatos com o VendasNow
        </h3>
        <h3 class="text-justify">
            4.1 Podemos utilizar suas informações para contatar você com relação a sua opinião a respeito de nossos serviços e para ocasionalmente notificar você a respeito de alterações ou desenvolvimentos importantes no aplicativo ou nos nossos serviços.
        </h3>
        <h3 class="text-justify">
            4.2 Os feedbacks sobre os serviços de delivery das lojas parceiras também poderão ser compartilhados com os mesmos a fim de conhecimento e para eventuais contatos das lojas com o Usuário no intuito de solucionar um problema.
        </h3>
        <h3 class="text-justify">
            4.3 Os comentários e notas atribuídos pelo usuário na avaliação de seu pedido devem conter única e exclusivamente a experiência junto a Loja que fez o Delivery em questão.
        </h3>
        <h3 class="text-justify">
            4.4 Quaisquer comentários ou feedback enviados pelo Website ou Aplicativo Mobile não devem: (a) conter qualquer material difamatório, obsceno ou ofensivo; (b) promover a violência ou discriminação; (c) infringir invadir a privacidade de terceiros; (f) dar a impressão de que são originados por nós; (g) ser utilizados para se passar por outra pessoa ou representar incorretamente sua afiliação a outra pessoa.
        </h3>
        <h3 class="text-justify">
            4.5 Os atos proibidos relacionados na Cláusula 4.6 acima não são exaustivos.
        </h3>
        <h3 class="text-justify">
            4.6 O VendasNow se reserva o direito de editar ou mesmo excluir os comentários e informações que violem os termos citados nas cláusulas acima.
        </h3>
        <h3 class="text-justify">
            5. Divulgação para terceiros
        </h3>

        <h3 class="text-justify">
            5.1. Outros.
        </h3>
        <h3 class="text-justify">
            O VendasNow poderá ser obrigado por lei, processo, litígio e/ou determinações de autoridades públicas ou governamentais dentro ou fora do país em que você reside, a divulgar suas informações pessoais. Nós também poderemos divulgar informações sobre você se entendermos que essa divulgação tem por finalidade a segurança nacional, exigência legal ou outros assuntos de importância pública ou quando a divulgação for necessária ou apropriada. Nós também poderemos divulgar informações sobre você se nós entendermos que a divulgação é razoavelmente necessária para fazer valer nossos termos e condições ou proteger nossas operações ou usuários. Além disso, no caso de uma reestruturação, fusão ou venda, poderemos transferir toda e qualquer informação pessoal que obtivemos ao terceiro aplicável.
        </h3>
        <h3 class="text-justify">
            6. Proteção de Informações Pessoais
        </h3>
        <h3 class="text-justify">
            6.1 O VendasNow toma precauções, entre elas medidas administrativas, técnicas e físicas, para proteger as suas informações pessoais contra perda, roubo, uso indevido, bem como contra acesso não autorizado, divulgação, alteração e destruição.
        </h3>
        <h3 class="text-justify">
            7. Dúvidas sobre Privacidade
        </h3>
        <h3 class="text-justify">
            7.1. Se você tiver algum questionamento ou dúvida com relação à Política de Privacidade do VendasNow ou qualquer prática descrita aqui, entre em contato conosco através no endereço eletrônico produzesistemas@gmail.com.
        </h3>

    </div>
</div>